.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  z-index: 999;
}

.animation-message-right-top,
.animation-message-right-center,
.animation-message-right-bottom {
  animation: screenRightIn 0.5s ease-in-out;
}

.right-top,
.right-center,
.right-bottom {
  align-items: end;
  right: 1rem;
}

.right-top {
  top: 1rem;
}

.right-center {
  align-items: end;
  top: 50%;
  transform: translateY(-50%);
}

.right-bottom {
  align-items: end;
  bottom: 1rem;
}

.animation-message-center-top,
.animation-message-center-bottom,
.animation-message-center-center {
  animation: screenCenterIn 0.5s ease-in-out;
}

.center-top,
.center-center,
.center-bottom {
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
}

.center-top {
  top: 1rem;
}

.center-center {
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  bottom: 1rem;
}

.animation-message-left-top,
.animation-message-left-center,
.animation-message-left-bottom {
  animation: screenLeftIn 0.5s ease-in-out;
}

.left-top,
.left-center,
.left-bottom {
  align-items: start;
  left: 1rem;
}

.left-top {
  top: 1rem;
}

.left-center {
  top: 50%;
  transform: translateY(-50%);
}

.left-bottom {
  bottom: 1rem;
}

.toast-message {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background: #c2c2c2;
  box-shadow: 0 3px 10px #0000001a;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 0.875rem;
}

.toast-message:hover {
  filter: brightness(0.9);
}

.toast-message:active {
  filter: brightness(1.1);
}

.success {
  background: #61d345;
}

.info {
  background: #4b8aff;
  color: #fff;
}

.warn {
  background: #fc0;
}

.error {
  background: #ff4b4b;
  color: #fff;
}

.ghost {
  background: #fff;
}

.animation-unmount {
  animation: screenOut 0.5s ease-in-out forwards;
}

@keyframes screenRightIn {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenLeftIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenCenterIn {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
