:root {
  --animation-time: 0.5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  z-index: 99999999;
}

.right-top {
  align-items: end;
  right: 1rem;
  top: 1rem;
}

.right-center {
  align-items: end;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.right-bottom {
  align-items: end;
  right: 1rem;
  bottom: 1rem;
}

.animation-message-right-top,
.animation-message-right-center,
.animation-message-right-bottom {
  animation: screenRightIn var(--animation-time) ease-in-out;
}

.center-top {
  align-items: center;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.center-center {
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  align-items: center;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

.animation-message-center-top,
.animation-message-center-bottom,
.animation-message-center-center {
  animation: screenCenterIn var(--animation-time) ease-in-out;
}

.left-top {
  align-items: start;
  left: 1rem;
  top: 1rem;
}

.left-center {
  align-items: start;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.left-bottom {
  align-items: start;
  left: 1rem;
  bottom: 1rem;
}

.animation-message-left-top,
.animation-message-left-center,
.animation-message-left-bottom {
  animation: screenLeftIn var(--animation-time) ease-in-out;
}

.toast-message {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: min-content;

  border-radius: 0.2rem;
  padding: 0.5rem;
  background: #c2c2c2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);

  border: none;
  outline: none;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: .875rem;
}

.toast-message:hover {
  filter: brightness(0.9);
}

.toast-message:active {
  filter: brightness(1.1);
}

.success {
  background: #61d345;
}

.info {
  background: #4b8aff;
  color: #ffffff;
}

.warn {
  background: #ffcc00;
}

.error {
  background: #ff4b4b;
  color: #ffffff;
}

.ghost {
  background: #ffffff;
}

.animation-unmount {
  animation: screenOut var(--animation-time) ease-in-out forwards;
}

@keyframes screenRightIn {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenLeftIn {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenCenterIn {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes screenOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
